node_modules/ansi-styles/index.d.ts
node_modules/ansi-styles/index.js
node_modules/ansi-styles/license
node_modules/ansi-styles/package.json
node_modules/ansi-styles/readme.md
node_modules/chalk/index.d.ts
node_modules/chalk/license
node_modules/chalk/package.json
node_modules/chalk/readme.md
node_modules/chalk/source/index.js
node_modules/chalk/source/templates.js
node_modules/chalk/source/util.js
node_modules/color-convert/CHANGELOG.md
node_modules/color-convert/conversions.js
node_modules/color-convert/index.js
node_modules/color-convert/LICENSE
node_modules/color-convert/package.json
node_modules/color-convert/README.md
node_modules/color-convert/route.js
node_modules/color-name/index.js
node_modules/color-name/LICENSE
node_modules/color-name/package.json
node_modules/color-name/README.md
node_modules/has-flag/index.d.ts
node_modules/has-flag/index.js
node_modules/has-flag/license
node_modules/has-flag/package.json
node_modules/has-flag/readme.md
node_modules/supports-color/browser.js
node_modules/supports-color/index.js
node_modules/supports-color/license
node_modules/supports-color/package.json
node_modules/supports-color/readme.md
